/* 公共属性 */
.background {
    position: relative;
    width: 1440px;
    background: #efefef;
    min-height: 100vh;
}

/* 大标题 */
.Heading {
    position: relative;
    width: 1440px;
    height: auto;
    text-align: center;
    top: 100px;
    font-size: 32px;
    line-height: 150%;
    color: #023871;
    left: 0;
    right: 0;
    margin: auto;
}


/*向左右切换的图标*/
.PageShift {
    position: relative;
    width: 30px;
    cursor: pointer;
}

/*查看详情、查看全部背后的蓝色方框*/
.blue_rectangle_container {
    width: 213px;
    height: 48px;
    background: #588CC8;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

/*一排一排陈列图片对应的class*/
.list_images {
    position: absolute;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
}

/* 调整字体 */
div {
    font-family: 'Alegreya';
    font-weight: 400;
    text-align: justify;
}

/* 卡片的效果 阴影 圆角 */
.Card {
    box-shadow: 0 5px 4px rgba(159, 158, 158, 0.42);
    border-radius: 7px;
    border: 1px solid rgba(88, 140, 200, 0.6);
}

/* 鼠标悬浮阴影, 用于点击链接 */
.HoverShadow {
    /* 需要参与过渡的属性 */
    transition-property: background-color;
    /* 过渡动画的持续时间 */
    transition-duration: 0.5s;
}

.HoverShadow:hover {
    background-color: rgba(47, 47, 47, 0.2);
}

/* 背景图片裁剪 */
.BackgroundImage {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/* 悬浮背景变成暗色, 用于点击学术活动、近期展览、最新公告 */
.HoverDark {
    /* 需要参与过渡的属性 */
    transition-property: background-color color;
    /* 过渡动画的持续时间 */
    transition-duration: 0.5s;
}

.HoverDark:hover {
    background-color: rgba(2, 56, 113, 1);
    color: white;
}

/* 调整底部空白大小 */
.BottomBlank {
    position: relative;
    width: 100%;
    height: 500px;
    z-index: -1;
}


/* 下面是修改插件的默认样式 */

/* 修改分页器原点样式 */
.swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: white 2px solid;
    opacity: 0.5;
    background: white;
    box-shadow: 2px 2px 4px black;
}

.swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}

/* 底部浪花 */
.BottomWave {
    position: absolute;
    padding: 0;
    width: 98.9vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* 修改分页器原点间距 */
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}

/* 修改 v-viewer 样式 */
.viewer-list>li {
    width: 50px;
}

.viewer-toolbar {
    text-align: center;
}

.viewer-button{
    background-color: red;
}

/* 修改“在线展览” 标签页 样式 */
/* 表头高一些 */
.el-tabs__item {
    height: 50px;
    line-height: 250%;
    font-size: 20px;
}

/* 内容周围的 padding 宽一些 */
.el-tabs--border-card>.el-tabs__content {
    padding: 30px;
}

/* 文字居中 */
.el-descriptions__body .el-descriptions__table .el-descriptions-item__cell {
    text-align: center;
}

/* 修改联系方式的反馈框 */
.el-textarea {
    font-size: 18px;
}