
.background {
    position: relative;
    width: 1440px;
}

/*向左右切换的图标*/
.PageShift{
    position: relative;
    width: 30px;
    cursor: pointer;

}
/*查看详情、查看全部背后的蓝色方框*/
.blue_rectangle_container {
    width: 213px;
    height: 48px;
    background: #588CC8;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

/*一排一排陈列图片对应的class*/
.list_images {
    position: absolute;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
}

#go_back1 {
    position: absolute;
    left: 50px;
    top: 50px;

    width: 35px;
    cursor: pointer;
    z-index: 11;
}

#go_back2 {
    position: absolute;
    left: 464px;
    top: 204px;
    width: 35px;
    cursor: pointer;
    z-index: 11;
}

/* @font-face {
    font-style: normal;
    font-family: '微软雅黑';
    src: url('../../public/微软雅黑.ttf');
} */

/* @font-face {
    font-style: normal;
    font-family: '楷体gb2312';
    src: url('../../public/楷体_GB2312.ttf')
} */

div {
    font-family: 'Alegreya';
    font-weight: 400;
    text-align: justify;
}

/* 修改分页器原点样式 */
.swiper-pagination .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
    border: white 2px solid;
    opacity: 0.5;
    background: white;
    box-shadow: 2px 2px 4px black;
}
.swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}
/* 修改分页器原点间距 */
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}
